/* Flip card CSS  */
body{
  font-family: 'Mntserrat', Sans-serif;
  background:  rgba(255, 255, 255, 0.75) !important;


}





.color-white{
  color:white;
	/* font-size: 40px; */
	text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
}
.addForm{
  margin-top: 50px;
}
.flip-box{
  transform-style: preserve-3d;
  perspective: 1000px;
  cursor: pointer;
  margin-top: 10px;
}
.flip-box-front,
.flip-box-back{
  background-size: cover;
  background-position:center ;
  border-radius: 8px;
  min-height: 275px;
  transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
  backface-visibility: hidden;
}
.flip-box-front-edit,
.flip-box-back-edit{
  background-size: cover;
  background-position:center ;
  border-radius: 8px;
  min-height: 475px;
  transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
  backface-visibility: hidden;
}
.flip-box-front{
  transform:rotateY(0deg);
  transform-style: preserve-3d;
}


.flip-box:hover  .flip-box-front{
  transform:rotateY(-180deg);
  transform-style: preserve-3d;
}
.flip-box-back{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: rotateY(180deg);
  transform-style: preserve-3d;

}
.flip-box:hover .flip-box-back{
  transform:rotateY(0deg);
  transform-style: preserve-3d;
}

/* .flip-box .inner{
  position:absolute;
  left:0;
  width:100%;
  padding: 60px;
  outline: 1px solid transparent;
  perspective: inherit;
  z-index: 2;
  transform: translateY(-50%)translateZ(60px) scale(.94);
  top: 50%;
} */

.flip-box .inner{
  position:absolute;
  left:0;
  width:100%;
  padding: 10px;
  outline: 1px solid transparent;
  perspective: inherit;
  z-index: 2;
  transform: translateY(80%)translateZ(60px) scale(.94);
  top: 50%;
}
.background-purple{
  background-color: #8419C5;
  opacity: 0.7
}
.top-right{
  position:absolute;
  left:0;
  width:100%;
  padding: 10px;
  outline: 1px solid transparent;
  perspective: inherit;
  z-index: 2;
  transform: translateX(80)translateY(-80%)translateZ(60px) scale(.94);
  top: 50%;
}
.top-left{
  position:absolute;
  left:0;
  width:100%;
  padding: 10px;
  outline: 1px solid transparent;
  perspective: inherit;
  z-index: 2;
  transform: translateX(-80)translateY(-400%)translateZ(60px) scale(.94);
  top: 50%;
}

.flip-box-header{
  font-size: 30px;
}

.flip-box p{
  font-size: 20px;
  line-height: 1.5rem;
}

.flip-box-img{
  margin-top: 25px;
}

.flip-box-button{
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin-top: 25px;
  padding: 15px 20px;
  text-transform: uppercase;

}

.flip-box-header-back{
  /* font-size: 30px; */
  height: 42px;
  /* width: 300px; */
  overflow-y: auto;
  white-space: nowrap;
}

.center-things{
	margin: auto;
}

/* Back Buttons */

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: SlateBlue;
  color: white;
}


.round {
  border-radius: 50%;
}



.nameNpfp{
  position: absolute;
  width: 250px;
  padding-top:  4rem;
  padding-bottom: 10px;

}

/* .interests{
  position: absolute;
  width: 400px;
  margin-top: 28rem;
  background-color: #ceb2e0;
} */



.infoMe{
  position: absolute;
  margin-left:22rem;
  margin-top: 9rem;
  width: 200px;
  margin-bottom: 10px;
  background: rgb(219, 51, 51);
}



.midLeft{
  position: absolute;
  margin-left: 6.5rem;

}
.innerMidLeft{
  position: absolute;
}
.outerMidLeft{
  position: absolute;
  margin-left:15rem;
}

.sexBtn{
  position: absolute;
  margin-top: 5rem;
  width: 250px;
}


.aboutMe{
  position: absolute;
background-color: aliceblue;
text-align: center;
  width: 400px;
  margin-top: 10rem;
  margin-right: 5rem;
  margin-left: 39rem;
}

.upperRight{
  position: absolute;
  width: 350px;
}

#profilePic{
     width: 315px;
      height: 315px;
      text-align: center;
    clip-path: circle(50% at 50% 50%);
    /* width: 250px;
    height: 250px;
    clip-path: path('M213.1,6.7c-32.4-14.4-73.7,0-88.1,30.6C110.6,4.9,67.5-9.5,36.9,6.7C2.8,22.9-13.4,62.4,13.5,110.9 C33.3,145.1,67.5,170.3,125,217c59.3-46.7,93.5-71.9,111.5-106.1C263.4,64.2,247.2,22.9,213.1,6.7z');
    object-fit: cover;
    margin: 0; */
}

#mixers{
  position:absolute;
  background-color: rgb(219, 141, 46);
  width: 250px;
  margin-left: 40rem;
  margin-top: 24rem;
  margin-right: 28rem;

}

.midRight{
  position: absolute;
  padding-top: 5.5rem;
  width: 350px;
  }

.photosMe{
  background: #8419C5;
  position:absolute;
  margin-top: 4rem;
  margin-left: 65rem;
  margin-bottom: 4rem;
  align-items: center;
  padding: 5px;
  width: 210px;
}



/* .pfp{
  width:200px
} */

.outlineLetters
{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.red-letters{
  color: red;
}

h2{
  text-align: center;
  font: copperplate;
  font-style: italic;
  /* text-transform: lowercase; */
}
h4{
  font: copperplate;
  font-style: italic;
  /* text-transform: lowercase; */
}



.form-style-8{
	font-family: 'Open Sans Condensed', arial, sans;
	width: 500px;
	padding: 30px;
	background: #FFFFFF;
	margin: 50px auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.form-style-8 h2{
	background: #4D4D4D;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #797979;
	font-size: 18px;
	font-weight: 100;
	padding: 20px;
	margin: -30px -30px 30px -30px;
}
.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 45px;
}
.form-style-8 textarea{
	resize:none;
	overflow: hidden;
}
.form-style-8 input[type="button"],
.form-style-8 input[type="submit"]{
	-moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	-webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	box-shadow: inset 0px 1px 0px 0px #45D6D6;
	background-color: #2CBBBB;
	border: 1px solid #27A0A0;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	padding: 8px 18px;
	text-decoration: none;
	text-transform: uppercase;
}
.form-style-8 input[type="button"]:hover,
.form-style-8 input[type="submit"]:hover {
	background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
	background-color:#34CACA;
}



@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* min-height: 100vh; */
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}



a {
  text-decoration: none;
}

/* .header__wrapper header {
  width: 100%;
  background: url("https://wallpaperaccess.com/full/214901.jpg") no-repeat 50% 20% / cover;
  min-height: calc(100px + 15vw);
} */
.header__wrapper{
  margin-bottom: -4.5rem !important;
}

.header__wrapper header {
  width: 100%;
  /* background-repeat: no-repeat 50% 20% / cover !important; */
  min-height: calc(100px + 2vw);
}

.header__wrapper .cols__container .left__col {
  padding: 25px 20px;
  text-align: center;
  max-width: 350px;
  position: relative;
  margin: 0 auto;
}

.header__wrapper .cols__container .left__col .img__container {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translatex(-50%);
}
.header__wrapper .cols__container .left__col .img__container img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
}
.header__wrapper .cols__container .left__col .img__container span {
  position: absolute;
  background: #2afa6a;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  bottom: 3px;
  right: 11px;
  border: 2px solid #fff;
}
.header__wrapper .cols__container .left__col h2 {
  margin-top: 60px;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 5px;
}
.header__wrapper .cols__container .left__col p {
  font-size: 0.9rem;
  color: #818181;
  margin: 0;
}
.header__wrapper .cols__container .left__col .about {
  justify-content: space-between;
  position: relative;
  margin: 35px 0;
}
.header__wrapper .cols__container .left__col .about li {
  display: flex;
  flex-direction: column;
  color: #818181;
  font-size: 0.9rem;
}
.header__wrapper .cols__container .left__col .about li span {
  color: #1d1d1d;
  font-weight: 600;
}
.header__wrapper .cols__container .left__col .about:after {
  position: absolute;
  content: "";
  bottom: -16px;
  display: block;
  background: #cccccc;
  height: 1px;
  width: 100%;
}
.header__wrapper .cols__container .content p {
  font-size: 1rem;
  color: #1d1d1d;
  line-height: 1.8em;
}
.header__wrapper .cols__container .content ul {
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.header__wrapper .cols__container .content ul li {
  display: flex;
}
.header__wrapper .cols__container .content ul i {
  font-size: 1.3rem;
}
.header__wrapper .cols__container .right__col nav {
  display: flex;
  align-items: center;
  padding: 30px 0;
  justify-content: space-between;
  flex-direction: column;
}
.header__wrapper .cols__container .right__col nav ul {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.header__wrapper .cols__container .right__col nav ul li a {
  text-transform: uppercase;
  color: #818181;
}
.header__wrapper .cols__container .right__col nav ul li:nth-child(1) a {
  color: #1d1d1d;
  font-weight: 600;
}
.header__wrapper .cols__container .right__col nav button {
  background: #0091ff;
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}
.header__wrapper .cols__container .right__col nav button:hover {
  opacity: 0.8;
}
.header__wrapper .cols__container .right__col .photos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  gap: 20px;
}
.header__wrapper .cols__container .right__col .photos img {
  max-width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}

.header__wrapper .cols__container .right__col .mixers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  gap: 20px;
}


.header__wrapper .cols__container .right__col .interests {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  gap: 20px;
}


/* Responsiveness */

@media (min-width: 868px) {
  .header__wrapper .cols__container {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
  }
  .header__wrapper .cols__container .left__col {
    padding: 25px 0px;
  }
  .header__wrapper .cols__container .right__col nav ul {
    flex-direction: row;
    gap: 30px;
  }
  .header__wrapper .cols__container .right__col .photos {
    height: 365px;
    overflow: auto;
    padding: 0 0 30px;
  }

  .header__wrapper .cols__container .right__col .mixers {
    height: 365px;
    overflow: auto;
    padding: 0 0 30px;
  }
  .header__wrapper .cols__container .right__col .interests {
    height: 365px;
    overflow: auto;
    padding: 0 0 30px;
  }
}

@media (min-width: 1017px) {
  .header__wrapper .cols__container .left__col {
    margin: 0;
    margin-right: auto;
  }
  .header__wrapper .cols__container .right__col nav {
    flex-direction: row;
  }
  .header__wrapper .cols__container .right__col nav button {
    margin-top: 0;
  }

  .centered
{
    margin: 0 auto;
    width:300px;
    height:200px;
    text-align: center;
}
}
.btn{/*dent around button*/
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: rgba(3, 169, 244, 0.54);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  background: #e5bbdc;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.08);
}
.btn .fa {/*Button itself*/
  position: absolute;
  content: '';
  width: 80px;
  height: 80px;
  line-height: 80px;
  vertical-align: middle;
  left: 10px;
  top: 9px;
  border-radius: 50%;
  font-size: 40px;
  background-image: -webkit-linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
  background-image: linear-gradient(#973a92 0%, #d6d6d6 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 2px #b5b5b5;
}

.btn .fa:active{
  background-image: -webkit-linear-gradient(#efefef 0%, #d6d6d6 100%);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 2px #d8d8d8;
}

